-target 1.6
-ignorewarnings
-optimizationpasses 5
-dontobfuscate
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose

-dontnote org.hamcrest.**
-dontnote javax.xml.**
-dontnote org.w3c.dom.**
-dontnote org.xml.**
-dontnote com.google.inject.assistedinject.FactoryProvider2

# The -optimizations option disables some arithmetic simplifications that Dalvik 1.0 and 1.5 can't handle.
-optimizations !code/simplification/arithmetic,!code/allocation/variable,!field/*

-renamesourcefileattribute SourceFile

-keepattributes SourceFile,LineNumberTable,*Annotation*

-printmapping map.txt
-printseeds seed.txt

-keepclassmembers enum * { public static **[] values(); public static ** valueOf(java.lang.String); }

-keep class com.imminentmeals.android.base.**
-keepclassmembers class com.imminentmeals.android.base.** { public <init>(...); }
-keepclassmembers class com.imminentmeals.android.base.** {
    *** set*(***);
    *** get*();
}
-keep class com.madgag.android.blockingprompt.**

# Android Framework
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.view.View { public <init>(android.content.Context); public <init>(android.content.Context, android.util.AttributeSet); public <init>(android.content.Context, android.util.AttributeSet, int); public void set*(...); }

-keepclassmembers class * extends android.app.Activity { public void *(android.view.View); }
-keepclassmembers class android.support.v4.app.Fragment { *** getActivity(); public *** onCreate(); public *** onCreateOptionsMenu(...); }

# Dagger
# http://stackoverflow.com/a/18177491/37020
-keepclassmembers,allowobfuscation class * {
  @javax.inject.* *;
  @dagger.* *;
  @com.imminentmeals.prestige.annotations.* *;
  <init>();
}
-keep class **$$ModuleAdapter
-keep class **$$InjectAdapter
-keep class **$$StaticInjection
-keepnames !abstract class com.example.mypackage.**
-keepnames class dagger.Lazy
# Gradle includes dagger-compiler and javawriter in the final package
-dontwarn dagger.internal.codegen.**
-dontwarn com.squareup.javawriter.**


# Otto
-keepclassmembers class ** {
    @com.squareup.otto.Subscribe public *;
    @com.squareup.otto.Produce public *;
}

-keepclassmembers class com.google.** {
    private void finalizeReferent();
    protected void finalizeReferent();
    public void finalizeReferent();
    void finalizeReferent();
    
    private *** startFinalizer(java.lang.Class,java.lang.Object);
    protected *** startFinalizer(java.lang.Class,java.lang.Object);
    public *** startFinalizer(java.lang.Class,java.lang.Object);
    *** startFinalizer(java.lang.Class,java.lang.Object);
}

-keep class **.Finalizer
-keepclassmembers class ** { *** startFinalizer( ... ); }

# Butterknife
-dontwarn butterknife.internal.**
-keep class **$$ViewInjector

# Google Play Services
-keep class * extends java.util.ListResourceBundle {
    protected Object[][] getContents();
}

# Guava
-dontwarn com.google.common.**
-dontnote com.google.common.util.concurrent.MoreExecutors

# Gson
-dontnote com.google.gson.internal.UnsafeAllocator
