<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto" android:versionCode="3000" android:versionName="0.3" package="com.imminentmeals.android.base">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>

    <application tools:ignore="AllowBackup" />
</manifest>